<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.MemberLikeDao">

	<select id="get" resultType="com.bootdo.system.domain.MemberLikeDO">
		select `like_id`,`menu_id`,`member_id`,`create_date`,`update_date` from w_member_like where like_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.MemberLikeDO">
		select ml.like_id,ml.menu_id,ml.member_id, wmm.username ,FROM_UNIXTIME(ml.create_date) as create_date,ml.update_date, wm.title from w_member_like ml
		left join w_web_menu wm on ml.menu_id = wm.menu_id left join w_member wmm on ml.member_id = wmm.member_id
        <where>  
		  		  <if test="likeId != null and likeId != ''"> and ml.like_id = #{likeId} </if>
		  		  <if test="menuId != null and menuId != ''"> and ml.menu_id = #{menuId} </if>
		  		  <if test="memberId != null and memberId != ''"> and ml.member_id = #{memberId} </if>
		  		  <if test="createDate != null and createDate != ''"> and ml.create_date = #{createDate} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and ml.update_date = #{updateDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ml.like_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from w_member_like
		 <where>  
		  		  <if test="likeId != null and likeId != ''"> and like_id = #{likeId} </if>
		  		  <if test="menuId != null and menuId != ''"> and menu_id = #{menuId} </if>
		  		  <if test="memberId != null and memberId != ''"> and member_id = #{memberId} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.MemberLikeDO" useGeneratedKeys="true" keyProperty="likeId">
		insert into w_member_like
		(
			`menu_id`, 
			`member_id`, 
			`create_date`, 
			`update_date`
		)
		values
		(
			#{menuId}, 
			#{memberId}, 
			#{createDate}, 
			#{updateDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.MemberLikeDO">
		update w_member_like 
		<set>
			<if test="menuId != null">`menu_id` = #{menuId}, </if>
			<if test="memberId != null">`member_id` = #{memberId}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}</if>
		</set>
		where like_id = #{likeId}
	</update>
	
	<delete id="remove">
		delete from w_member_like where like_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from w_member_like where like_id in 
		<foreach item="likeId" collection="array" open="(" separator="," close=")">
			#{likeId}
		</foreach>
	</delete>

</mapper>