<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.MenuReviewDao">

	<select id="get" resultType="com.bootdo.system.domain.MenuReviewDO">
		select `review_id`,`content`,`menu_id`,`member_id`,`create_date`,`update_date` from w_menu_review where review_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.MenuReviewDO">
		select wmr.review_id,wmr.content,wmr.menu_id,wmr.member_id,wmm.username,FROM_UNIXTIME(wmr.create_date) as create_date,wmr.update_date from w_menu_review wmr left join w_member wmm on wmr.member_id = wmm.member_id
        <where>  
		  		  <if test="reviewId != null and reviewId != ''"> and wmr.review_id = #{reviewId} </if>
		  		  <if test="content != null and content != ''"> and wmr.content = #{content} </if>
		  		  <if test="menuId != null and menuId != ''"> and wmr.menu_id = #{menuId} </if>
		  		  <if test="memberId != null and memberId != ''"> and wmr.member_id = #{memberId} </if>
		  		  <if test="createDate != null and createDate != ''"> and wmr.create_date = #{createDate} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and wmr.update_date = #{updateDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by wmr.review_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from w_menu_review
		 <where>  
		  		  <if test="reviewId != null and reviewId != ''"> and review_id = #{reviewId} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="menuId != null and menuId != ''"> and menu_id = #{menuId} </if>
		  		  <if test="memberId != null and memberId != ''"> and member_id = #{memberId} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.MenuReviewDO" useGeneratedKeys="true" keyProperty="reviewId">
		insert into w_menu_review
		(
			`content`, 
			`menu_id`, 
			`member_id`, 
			`create_date`, 
			`update_date`
		)
		values
		(
			#{content}, 
			#{menuId}, 
			#{memberId}, 
			#{createDate}, 
			#{updateDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.MenuReviewDO">
		update w_menu_review 
		<set>
			<if test="content != null">`content` = #{content}, </if>
			<if test="menuId != null">`menu_id` = #{menuId}, </if>
			<if test="memberId != null">`member_id` = #{memberId}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}</if>
		</set>
		where review_id = #{reviewId}
	</update>
	
	<delete id="remove">
		delete from w_menu_review where review_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from w_menu_review where review_id in 
		<foreach item="reviewId" collection="array" open="(" separator="," close=")">
			#{reviewId}
		</foreach>
	</delete>

</mapper>