<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.WebMenuDao">

	<select id="get" resultType="com.bootdo.system.domain.WebMenuDO">
		select wm.menu_id,wm.title,wm.des,sd.name as type,wm.content,wmm.username as userName,FROM_UNIXTIME(wm.create_date) as create_date,wm.update_date from w_web_menu wm
		left join sys_dict sd ON wm.type = sd.value and sd.type = 'menu_type' left join w_member wmm on wm.member_id = wmm.member_id
		where menu_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.WebMenuDO">
		select wm.menu_id,wm.title,wm.des,sd.name as type,wm.content,wmm.username as userName,FROM_UNIXTIME(wm.create_date) as create_date,FROM_UNIXTIME(wm.update_date) as update_date from w_web_menu wm
		left join sys_dict sd ON wm.type = sd.value and sd.type = 'menu_type' left join w_member wmm on wm.member_id = wmm.member_id
        <where>  
		  		  <if test="menuId != null and menuId != ''"> and wm.menu_id = #{menuId} </if>
		  		  <if test="title != null and title != ''"> and wm.title = #{title} </if>
		  		  <if test="des != null and des != ''"> and wm.des = #{des} </if>
		  		  <if test="type != null and type != ''"> and wm.type = #{type} </if>
		  		  <if test="content != null and content != ''"> and wm.content = #{content} </if>
		  		  <if test="memberId != null and memberId != ''"> and wm.member_id = #{memberId} </if>
		  		  <if test="createDate != null and createDate != ''"> and wm.create_date = #{createDate} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and wm.update_date = #{updateDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by wm.menu_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from w_web_menu
		 <where>  
		  		  <if test="menuId != null and menuId != ''"> and menu_id = #{menuId} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="des != null and des != ''"> and des = #{des} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="memberId != null and memberId != ''"> and member_id = #{memberId} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.WebMenuDO" useGeneratedKeys="true" keyProperty="menuId">
		insert into w_web_menu
		(
			`title`, 
			`des`, 
			`type`, 
			`content`, 
			`member_id`, 
			`create_date`, 
			`update_date`
		)
		values
		(
			#{title}, 
			#{des}, 
			#{type}, 
			#{content}, 
			#{memberId}, 
			#{createDate}, 
			#{updateDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.WebMenuDO">
		update w_web_menu 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="des != null">`des` = #{des}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="memberId != null">`member_id` = #{memberId}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}</if>
		</set>
		where menu_id = #{menuId}
	</update>
	
	<delete id="remove">
		delete from w_web_menu where menu_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from w_web_menu where menu_id in 
		<foreach item="menuId" collection="array" open="(" separator="," close=")">
			#{menuId}
		</foreach>
	</delete>

</mapper>