<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="blog/index/include_blog::header"></head>
<body>
<nav th:include="blog/index/include_blog::nav"  class="navbar navbar-default navbar-custom navbar-fixed-top bg-color" ></nav>

<div style="margin-top: 140px;">
	<!--菜谱部分-->
	<div class="main_mid_product">
		<div class="mid_product_min" style="text-align: center">
			<div style="font-size: 24px; font-weight: bold; color: #ff5227; margin-bottom: 80px">
				<span style="margin-right: 20px">- - - - - - - - </span>
				<span style="margin-right: 20px">注册菜谱分享网</span>
				<span>- - - - - - - - </span>
			</div>

			<div style="width: 60%; margin-left: 20%; background: #d5d5d5; padding: 60px 60px">
				<div style="margin-bottom: 20px">
					<input id="userNameSign" type="text" class="form-control" placeholder="请输入用户名">
				</div>
				<div style="margin-bottom: 40px">
					<input id="passwordSign" type="password" class="form-control" placeholder="请输入登录密码">
				</div>
				<div>
					<button id="signBtn" type="button" class="btn btn-default btn-danger" style="padding: 10px 25px; border-radius: 10px">注册</button>
				</div>
			</div>
		</div>
	</div>

	<!--底部-->
	<div class="footer_shouye">
		<div class="footer_min_top">
			<div class="footer_top">
				<div class="footer_tel floatl">
					<div class="footer_tel_cen">
						<!--<img src="./img/clip_about/icon_footer_tel.png" class="floatl marginR6">-->
						<p class="floatl colorP">0532-6666888</p>
						<div class="clear"></div>
					</div>
				</div>
				<div class="footer_mail floatl">
					<div class="footer_mail_cen">
						<!--<img src="./img/clip_about/icon_footer_mail.png" class="floatl marginR6">-->
						<p class="floatl colorP">760810955@qq.com</p>
						<div class="clear"></div>
					</div>
				</div>
				<div class="footer_loc floatl">
					<div class="footer_loc_cen">
						<!--<img src="./img/clip_about/icon_footer_location.png" class="floatl marginR6">-->
						<p class="colorP">北京市 朝阳区 市中路67号美食大厦15楼</p>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="footer_bot">
			<div class="footer_min_bom">
				<p class="colorP">cook© 2018-2019 | All Rights Reserved 鲁ICP备16768520号</p>
			</div>
		</div>
	</div>
</div>
</body>
<div th:include="blog/index/include_blog::footer"></div>
<script type="text/javascript">
    $(function(){
        $("li").click(function() {
            $(this).siblings('li').removeClass('selected');    // 删除其他li的边框样式
            $(this).addClass('selected');                            // 为当前li添加边框样式
        });

        // 登录
        $("#signBtn").click(function () {
            var userName = $("#userNameSign").val();
            var password = $("#passwordSign").val();
            $.ajax({
                url: '/system/member/save',
                type: 'get',
	            data: {
                    username: userName,
                    password: password,
	            },
                success: function (_data) {
                console.log(_data)
                    if (_data.code == 0) {
                        parent.layer.alert("注册成功！");
                        location.href = 'http://localhost/web/customer-login';
                    } else {
                        parent.layer.alert(_data.msg);
                    }
                },
                error: function () {
                    parent.layer.alert(注册失败,请重新注册);
                }
            });
        });
    });


</script>


</html>
