<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="blog/index/include_blog::header"></head>
<body>
	<nav th:include="blog/index/include_blog::nav"  class="navbar navbar-default navbar-custom navbar-fixed-top bg-color" ></nav>

	<div style="margin-top: 140px;">
		<!--菜谱部分-->
		<div class="main_mid_product">
			<div class="mid_product_min" id="product-content">
				<!--产品展示卡片-->
				<!--<div class="product_cards">-->
					<!--<div class="fir_M2HIS floatl marginR15 imdBorder">-->
						<!--<img src="img/cook/1.jpg" class="m2his_png">-->
						<!--<hr>-->
						<!--<span class="priceSpan">芒果毛巾卷</span>-->
						<!--<span class="buyBtn">已收藏</span>-->
					<!--</div>-->

					<!--<div class="sec_home_doc floatl marginR15 imdBorder">-->
						<!--<img src="img/cook/1.jpg" class="jiating_png">-->
						<!--<hr>-->
						<!--<span class="priceSpan">芒果毛巾卷</span>-->
						<!--<span class="buyBtn">收藏</span>-->
					<!--</div>-->

					<!--<div class="thi_doc_app floatl marginR15 imdBorder">-->
						<!--<img src="img/cook/1.jpg" class="mobile_png">-->
						<!--<hr>-->
						<!--<span class="priceSpan">芒果毛巾卷</span>-->
						<!--<span class="buyBtn">收藏</span>-->
					<!--</div>-->

					<!--<div class="thi_doc_app floatl imdBorder">-->
						<!--<img src="img/cook/1.jpg" class="mobile_png">-->
						<!--<hr>-->
						<!--<span class="priceSpan">芒果毛巾卷</span>-->
						<!--<span class="buyBtn">收藏</span>-->
					<!--</div>-->
					<!--<div class="clear"></div>-->
				<!--</div>-->
			</div>
		</div>

		<!--底部-->
		<div class="footer_shouye">
			<div class="footer_min_top">
				<div class="footer_top">
					<div class="footer_tel floatl">
						<div class="footer_tel_cen">
							<!--<img src="./img/clip_about/icon_footer_tel.png" class="floatl marginR6">-->
							<p class="floatl colorP">0532-6666888</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="footer_mail floatl">
						<div class="footer_mail_cen">
							<!--<img src="./img/clip_about/icon_footer_mail.png" class="floatl marginR6">-->
							<p class="floatl colorP">760810955@qq.com</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="footer_loc floatl">
						<div class="footer_loc_cen">
							<!--<img src="./img/clip_about/icon_footer_location.png" class="floatl marginR6">-->
							<p class="colorP">北京市 朝阳区 市中路67号美食大厦15楼</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="footer_bot">
				<div class="footer_min_bom">
					<p class="colorP">cook© 2018-2019 | All Rights Reserved 鲁ICP备16768520号</p>
				</div>
			</div>
		</div>
	</div>
</body>
	<div th:include="blog/index/include_blog::footer"></div>
	<script type="text/javascript">

        $(function(){
            getAllMenu();
        });

        function getAllMenu() {
            $.ajax({
                cache : true,
                url: '/system/webMenu/webList?limit=1000&offset=0',
                type: 'get',
                data : null,
                async : false,
                success: function (_data) {
                    var html = '';
                    if (_data.total > 0) {
                        for (var i = 0; i < _data.rows.length; i++) {
                           html += '<div style="padding-bottom: 20px; padding-top: 10px; border-bottom: 1px solid #cdcdcd"><a href="/web/menu-detail?id=' + _data.rows[i].menuId + '"><h3>'
	                           + _data.rows[i].title + '</h3></a><div><span style="margin-right: 60px">作者：'
	                           + (_data.rows[i].userName ? _data.rows[i].userName : '暂无') + '</span><span>' + _data.rows[i].createDate + '</span></div></div>';
                        }
                    }
					$("#product-content").html(html);
                },
                error: function () {
                    alert('失败')
                }
            });
        }
	</script>


</html>
