<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="blog/index/include_blog::header"></head>
<body>
	<nav th:include="blog/index/include_blog::nav"  class="navbar navbar-default navbar-custom navbar-fixed-top bg-color" ></nav>

	<div style="margin-top: 140px;">
		<div class="detail-div" style="min-height: 400px">

		</div>



		<!--底部-->
		<div class="footer_shouye">
			<div class="footer_min_top">
				<div class="footer_top">
					<div class="footer_tel floatl">
						<div class="footer_tel_cen">
							<!--<img src="./img/clip_about/icon_footer_tel.png" class="floatl marginR6">-->
							<p class="floatl colorP">0532-6666888</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="footer_mail floatl">
						<div class="footer_mail_cen">
							<!--<img src="./img/clip_about/icon_footer_mail.png" class="floatl marginR6">-->
							<p class="floatl colorP">760810955@qq.com</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="footer_loc floatl">
						<div class="footer_loc_cen">
							<!--<img src="./img/clip_about/icon_footer_location.png" class="floatl marginR6">-->
							<p class="colorP">北京市 朝阳区 市中路67号美食大厦15楼</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="footer_bot">
				<div class="footer_min_bom">
					<p class="colorP">cook© 2018-2019 | All Rights Reserved 鲁ICP备16768520号</p>
				</div>
			</div>
		</div>
	</div>
</body>
	<div th:include="blog/index/include_blog::footer"></div>

	<script type="text/javascript">
		var id;
        $(function(){
            $("li").click(function() {
                $(this).siblings('li').removeClass('selected');    // 删除其他li的边框样式
                $(this).addClass('selected');                            // 为当前li添加边框样式
            });
            id = getId('id');
            getDetail();
        });

        function getDetail() {
            $.ajax({
                cache : true,
                url: '/system/webMenu//detail/' + id,
                type: 'get',
                async : false,
                success: function (_data) {
                    $("#detail-div").html(_data);
                },
                error: function () {
                    alert('失败')
                }
            });
        }

        function getId(par){
            //获取当前URL
            var local_url = document.location.href;

            //截取get字符串
            var getstr = local_url.substr(local_url.indexOf('?')+1)

            //解析成get数组
            var get = getstr.split('&')

            //查找要找到参数（par）
            for(var i in get){
                if(get[i].indexOf(par+'=')>=0){
                    return get[i].replace(par+'=','');
                }
            }

            //如果找不到返回false
            return false;
        }
	</script>


</html>
