<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="blog/index/include_blog::header"></head>
<body>
	<nav th:include="blog/index/include_blog::nav"  class="navbar navbar-default navbar-custom navbar-fixed-top bg-color" ></nav>

	<div style="margin-top: 140px;">
		<div style="min-height: 400px; width: 600px; margin-left: auto; margin-right: auto">
			<h3>我上传的菜谱</h3>
			<div style="margin-bottom: 10px">
				<a href="/web/add" id="uploadBtn" type="button" class="btn btn-default btn-danger" style="padding: 10px 25px; border-radius: 10px">我要上传</a>
			</div>
			<div id="my-menu-content" style="margin-bottom: 50px">

			</div>

			<h3>我的收藏</h3>
			<div id="my-collect-content" style="margin-bottom: 50px">

			</div>
		</div>



		<!--底部-->
		<div class="footer_shouye">
			<div class="footer_min_top">
				<div class="footer_top">
					<div class="footer_tel floatl">
						<div class="footer_tel_cen">
							<!--<img src="./img/clip_about/icon_footer_tel.png" class="floatl marginR6">-->
							<p class="floatl colorP">0532-6666888</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="footer_mail floatl">
						<div class="footer_mail_cen">
							<!--<img src="./img/clip_about/icon_footer_mail.png" class="floatl marginR6">-->
							<p class="floatl colorP">760810955@qq.com</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="footer_loc floatl">
						<div class="footer_loc_cen">
							<!--<img src="./img/clip_about/icon_footer_location.png" class="floatl marginR6">-->
							<p class="colorP">北京市 朝阳区 市中路67号美食大厦15楼</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="footer_bot">
				<div class="footer_min_bom">
					<p class="colorP">cook© 2018-2019 | All Rights Reserved 鲁ICP备16768520号</p>
				</div>
			</div>
		</div>
	</div>
</body>
	<div th:include="blog/index/include_blog::footer"></div>

	<script type="text/javascript">
        $(function(){
            $("li").click(function() {
                $(this).siblings('li').removeClass('selected');    // 删除其他li的边框样式
                $(this).addClass('selected');                            // 为当前li添加边框样式
            });
            getMyMenu();
            getMyCollet();
        });

        function getMyMenu() {
            $.ajax({
                cache : true,
                url: '/system/webMenu/webList',
                type: 'get',
                data : {
                    limit: 1000,
                    offset: 0,
                    memberId: $.cookie("memberId")
                },
                async : false,
                success: function (_data) {
                    var html = '';
                    if (_data.total > 0) {
                        for (var i = 0; i < _data.rows.length; i++) {
                            html += '<div style="padding-bottom: 20px; padding-top: 10px; border-bottom: 1px solid #cdcdcd"><a href="/web/menu-detail?id=' + _data.rows[i].menuId + '"><h3>'
                                + _data.rows[i].title + '</h3></a><div><span style="margin-right: 60px">作者：'
                                + (_data.rows[i].userName ? _data.rows[i].userName : '暂无') + '</span><span>' + _data.rows[i].createDate + '</span></div></div>';
                        }
                    } else {
                        html += '<span style="color: #ff4821">您还没有在本站上传过菜谱哦 ^-^</span>'
                    }
                    $("#my-menu-content").html(html);
                },
                error: function () {
                    alert('失败')
                }
            });
        }

        function getMyCollet() {
            $.ajax({
                cache : true,
                url: '/system/memberLike/list',
                type: 'get',
                data : {
                    memberId: $.cookie("memberId")
                },
                async : false,
                success: function (_data) {
                    var html = '';
                    if (_data.total > 0) {
                        for (var i = 0; i < _data.rows.length; i++) {
                            html += '<div style="padding-bottom: 20px; padding-top: 10px; border-bottom: 1px solid #cdcdcd"><h3>'
                                + _data.rows[i].title + '</h3><div><span style="margin-right: 60px">作者：'
                                + (_data.rows[i].userName ? _data.rows[i].userName : '暂无') + '</span><span>' + _data.rows[i].createDate + '</span></div></div>';
                        }
                    } else {
                        html += '<span style="color: #ff4821">您还没有收藏过本站菜谱哦 ^-^</span>'
                    }
                    $("#my-collect-content").html(html);
                },
                error: function () {
                    alert('失败')
                }
            });
        }

	</script>


</html>
